html, body {/*chatgpt gave me this to reset browser changes -> get rid of weird spacing caused by browser*/
  height: 100%;
  margin: 0;
  padding: 0;
}
body {/*change the general page*/
    background-color: rgb(204, 213, 246);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
}
div {/*change the question sections*/
    padding: 10px;
    max-width: 700px;
    margin: auto;
}
button {/*change the buttons*/
    background-color: rgb(255, 230, 252);
    font-family: 'Trebuchet MS', Arial;
    /*Make buttons appear bigger*/
    font-size: 25px;
    border-radius: 12px;
}
nav {/*Make the image on home page appear lower*/
    margin-bottom: 30px;
}